langchain==0.1.12
langchain-google-genai==0.0.9
langchain-community==0.0.28
python-dotenv==1.0.1
streamlit==1.32.0
tiktoken==0.6.0
faiss-cpu==1.8.0
protobuf==4.25.3
InstructorEmbedding==1.0.1
sentence-transformers==2.2.2